@charset "UTF-8";
.first-calc{


    *,
*::after,
*::before {
    box-sizing: border-box;
}

.calc {
    width: 515px;
    height: 685px;
    background-color: #f0efef;
    margin: 0 auto;
    border-radius: 15px;
    font-family: system-ui;
}

.calc__form {
    padding: 20px 40px 40px 40px;
}

.calc__figs {
    text-align: center;
}

.calc__figs-birth {}

.calc__figs-result {
    margin-top: 20px;
}

.calc__figs-birth-item {
    font-size: 25px;

}

.calc__figs-result-item {
    font-size: 25px;
}

.calc-date__block {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.calc-date__item {}

.calc-date__text {
    font-size: 25px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 10px;
}

.calc-date__select {
    border-width: 2px;
    border-radius: 10px;
    border-color: #d6d6d6;
    width: 105px;
    padding: 14px 7px;
    font-size: 20px;
}

.calc-date_day {}

.calc-date_month {}

.calc-date_year {}

.calc-date_day__text {}

.calc-date_month__text {}

.calc-date_year__text {}

.calc-date_day__select {}

.calc-date_month__select {}

.calc-date_year__select {}

.calc-result__block {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 205px;
}

.calc-result__subBlock {}

.calc-result__subBlock--left {}

.calc-result__subBlock--right {}

.calc__subBlock-figs {
    text-align: center;
}


.calc__subBlock-figs--energy-item {}

.calc__subBlock-figs-item {
    font-size: 18px;
}

.calc__subBlock-figs--elem-item {
    font-size: 13px;
}

.calc__symbol-result__block {

    height: 110px;
    margin-top: 7px;
    text-align: center;
    padding: 5px;
    font-size: 100px;
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 10px;
    width: 132px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.calc__symbol-result__item {
    font-size: 75px;
}

.calc__name-result__block {
    height: 55px;
    margin-top: 10px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 10px;
    width: 132px;
    padding: 5px;
}

.calc__name-result__item {
    font-weight: 700;
    white-space: normal;
}

.calc__energy-result__block {
    display: flex;
    text-align: center;
    padding: 20px;
    font-size: 100px;
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 10px;
    width: 285px;
    height: 85%;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
}

.calc__energy-result__item {}

.calc-btn__block {
    margin-top: 15px;
    text-align: center;
}

.calc-btn__item {
    border-width: 2px;
    border-radius: 10px;
    font-size: 25px;
    margin: 0 auto;
    text-align: center;
    width: 245px;
    padding: 13px 5px;
    border: 1px solid;
    border-color: #d6d6d6;
    background-color: #ffffff;
    outline: none;

}

.suits-you__block {
    font-size: 22px;
    margin-top: 15px;
}

.suits-you__text {
    margin-left: 10px;
}

.suits-you__result {
    margin-left: 40px;
}

.continue-shop__btn {
    margin: 22px 5px 0 5px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    display: block;
    padding: 13px 10px;
    font-size: 23px;
    text-decoration: none;
    color: black;
    background-color: #ffffff;
}

}

@media(max-width: 545px){
    
    .first-calc{
        .calc {
            width: 310px;
            height: 580px;
            
        }

        .calc__form {
            padding: 20px 20px 20px 20px;
        }

        .calc__figs-birth-item {
            font-size: 15px;
        }

        .calc-date__text {
            font-size: 15px;
        }

        .calc-date__select {
            width: 66px;
            padding: 10px 5px;
            font-size: 13px;
        }
        .calc__name-result__item{
            font-size: 12px;
        }

        .calc__name-result__block{
            width: 85px;
        }

        .calc-btn__item {
            font-size: 13px;
            width: 150px;
            padding: 10px 5px;
        }

        .calc__figs-result-item {
            font-size: 15px;
        }

       .calc__subBlock-figs-item {
            font-size: 10px;
        }

        .calc__energy-result__block {
            width: 160px;
            height: 73%;
        }

        .suits-you__block {
            font-size: 13px;
        }

        .calc__symbol-result__item {
            font-size: 50px;
        }

        .calc__symbol-result__block {
            height: 85px;
            width: 85px;
        }
        .continue-shop__btn{
            font-size: 15px;
        }

    } 
}